.page-header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-horizontal {
    display: flex;
    align-items: center; /* Align children vertically in the middle */
    justify-content: space-between; /* Spread children horizontally */
    max-height: 60px; /* Set the maximum height as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.page-header__container {
    width: 1200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.page-header__top {
    /* margin: 20px 0; */
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    display: flex;
}

.page-header__img {
    transform: scale(0.85);
}

.navbar-container {
    display: flex;
    position: relative;
    background-color: #028f46;
    border-radius: 20px;
    align-items: center; /* Align children vertically in the middle */
    justify-content: space-between; /* Spread children horizontally */
    max-height: 45px; /* Set the maximum height as needed */
    margin: 0 auto; /* Center the container horizontally */
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Adjust margin as needed */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav .nav-item:hover {
    background-color: #024824;
    color: #ffffff;
    border-radius: 18px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Change text color for nav links */
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; 
}

.navbar .btn-outline-success {
    margin-left: auto; /* Align to the right */
    padding: 8px 16px; /* Adjust padding for the button */
    font-size: 14px; /* Adjust font size for the button text */
    border-radius: 20px;
    color: #028f46;
    background-color: #ffffff;
}

.navbar .btn-outline-success:hover {
    color: #028f46;
    background-color: #ffffff; 
}

.cart-icon {
    display: inline-block;
    margin-right: 8px;
}

.cart-count {
    color: #ffffff;
    background-color: #de1e27;
    font-size: 12px;
    vertical-align: middle;
    border-radius: 10px;
    /* padding: 5px auto; */
}
